@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CEL Colors */
  --cel-red: #df4c42;
  --cel-blue: #0f5390;
  --cel-navy: #000f24;
  --cel-white: #f0f5f8;

  /* Hero Gradient */
  --hero-blue-mid: #031d43;
  --hero-blue-end: #052c62;

  /* Custom Colors */
  --foreground: #f2f2f2;
  --background: #121212;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings:
    'case' 1,
    'rlig' 1,
    'calt' 0;
}

html,
body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-background text-foreground antialiased;
  scroll-behavior: smooth;
}

a:hover {
  color: var(--cel-red);
  transition: color 0.2s ease-in-out;
}
