@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CESAFI ESPORTS LEAGUE Colors */
  /* Reds */
  --pale: #df4c42;
  --chili: #e62e22;

  /* Blue */
  --yale: #0f5390;
  --pearl: #000f24;
  --navy: #031d43;
  --marine: #052c62;
  --ultramarine: #001197;
  --federal: #16166b;

  /* White */
  --antiflash: #f0f3f5;
  --platinum: #d7d9db;
}

.light {
  --background: #ffffff;
  --foreground: #121212;
}

.dark {
  --background: #121212;
  --foreground: #f2f2f2;
}

body {
  @apply bg-background font-manrope text-foreground antialiased;
}

h1,
h2,
h3 {
  @apply font-delagothic;
}
